

.carousel{
    max-width: 800px;
    height: 500px;
    margin: auto;
    margin-top: auto;
    border-radius: 10px;
}
#carouselExampleIndicators{
    background-color: rgb(114, 109, 109);
}
 img{
    max-width: 600px;
    margin: auto;
    margin-top: 175px;   
}
.custom-input{
    border-color: black;
}
h5{
    margin: auto;
}
.btn{
    margin: auto;
}




